@import './variables';
@import './core';
@import './structure';

.warren {
  &-background {
    background: $shawdow-grey;
    border-radius: 250px;
    position: absolute;
    overflow: hidden;
    width: 83.5%;
    height: 83.5%;
    left: 50%;
    margin-left: -41.75%;
    bottom: 3%;
  }
  &-face {
    width: 50%;
    height: 100%;
    left: 50%;
    position: absolute;
    z-index: 4;
    overflow: hidden;
    &:before,
    &:after {
      display: block;
      content: '';
      position: absolute;
    }
    &:before {
      width: 85%;
      height: 60%;
      background: $dark-blue;
      transform: rotate(50deg) skewy(-16deg);
      top: 11.4%;
      left: -49.9%;
    }
    &:after {
      background: $light-blue;
      width: 90%;
      height: 28.4%;
      transform: rotate(0) skewX(38deg);
      top: 6%;
      left: -37%;
      border-top-right-radius: 23%;
    }
    &__ear {
      position: absolute;
      background: white;
      width: 35%;
      height: 20%;
      transform: rotate(45deg);
      top: 5.4%;
      left: 19.3%;
      border-radius: 17%;
      border: $dark-blue solid 20px;
      box-sizing: border-box;
      box-shadow: 8px 8px 0 $shawdow-grey inset;
    }
    &__mouth {
      position: absolute;
      width: 33.3%;
      height: 31.2%;
      z-index: 4;
      top: 18.4%;
      &:before {
        display: block;
        content: '';
        background: white;
        position: absolute;
        width: 100%;
        height: 35%;
        bottom: 0;
        transform: skewX(-41deg);
        left: -28%;
      }
    }
  }
  &-suit {
    &:before {
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      position: absolute;
    }
    &:before {
      bottom: -45%;
      left: 50%;
      background: $heavy-grey;
      transform: skewY(34deg);
    }
    &__shirt {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 0%;
      z-index: 3;
      overflow: hidden;
      &:before {
        display: block;
        content: '';
        width: 30%;
        height: 83%;
        position: absolute;
        transform: skewY(31deg) rotate(20deg);
        background: white;
        top: 13%;
        left: -18%;
      }
    }
    &__lapel {
      overflow: hidden;
      position: absolute;
      width: 39.5%;
      height: 53%;
      left: 50%;
      bottom: -5%;
      z-index: 1;
      transform: rotate(25deg) skewY(8deg);
      margin-left: 8.5%;
      &:before,
      &:after {
        display: block;
        content: '';
        position: absolute;
        background: $black;
      }
      &:before {
        transform: rotate(-32deg) skewY(-20deg);
        top: -1%;
        left: -25.5%;
        width: 50%;
        height: 38%;
      }
      &:after {
        transform: rotate(-93deg) skewY(22deg);
        top: 41%;
        left: -76%;
        height: 60%;
        width: 100%;
      }
    }
  }
}

