@import './variables';
@import './core';
@import './structure';

.warren {
  &-background {
    background: $shawdow-grey;
    border-radius: 250px;
    position: absolute;
    overflow: hidden;
    width: 83.5%;
    height: 83.5%;
    left: 50%;
    margin-left: -41.75%;
    bottom: 3%;
  }
  &-suit {
    &:before,
    &:after {
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      position: absolute;
    }
    &:before {
      bottom: -45%;
      transform: skewY(-34deg);
      background: $medium-grey;
    }
    &:after {
      bottom: -45%;
      left: 50%;
      background: $heavy-grey;
      transform: skewY(34deg);
    }
    &__lapel {
      overflow: hidden;
      position: absolute;
      width: 39.5%;
      height: 53%;
      left: 50%;
      bottom: -5%;
      z-index: 1;
      transform: rotate(25deg) skewY(8deg);
      margin-left: 8.5%;
      &:before,
      &:after {
        display: block;
        content: '';
        position: absolute;
        background: black;
      }
      &:before {
        transform: rotate(-32deg) skewY(-21deg);
        top: 2px;
        left: -25%;
        width: 50%;
        height: 38%;
      }
      &:after {
        transform: rotate(-93deg) skewY(22deg);
        top: 42%;
        left: -75%;
        height: 60%;
        width: 100%;
      }
      &.left-lapel {
        left: -7.9%;
        transform: scaleX(-1) rotate(26deg);
        bottom: -2.9%;
      }
    }
  }
}

