@import './variables';
@import './core';
@import './structure';

.warren {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
  }
  *:before,
  *:after {
    display: block;
    content: '';
  }
  &-flip {
    transform: scaleX(-1);
    left: 1px !important;
    &.warren-suit {
      &:before {
        background: $xxx-grey;
      }
      .warren-suit__button {
        background: $x-grey;
      }
      .warren-suit__tie {
        &:before,
        &:after {
          background: $tie;
        }
      }
      .warren-suit__tie-clip {
        left: -17%;
        transform: skewX(32deg);
        width: 120%;
      }
    }
  }
  &-background {
    background: $grey;
    border-radius: 250px;
    position: absolute;
    overflow: hidden;
    width: 83.5%;
    height: 83.5%;
    left: 50%;
    margin-left: -41.75%;
    bottom: 3%;
  }
  &-face {
    width: 50%;
    height: 100%;
    left: 50%;
    z-index: 4;
    &:before {
      width: 85%;
      height: 60%;
      background: $fur;
      transform: rotate(50deg) skewy(-16deg);
      top: 11.4%;
      left: -49.9%;
    }
    &:after {
      background: lighten($fur, 5%);
      width: 90%;
      height: 28.4%;
      transform: rotate(0) skewX(38deg);
      top: 6%;
      left: -37%;
      border-top-right-radius: 23%;
    }
    &__ear {
      background: white;
      width: 35%;
      height: 20%;
      transform: rotate(45deg);
      top: 5.4%;
      left: 19.3%;
      border-radius: 17%;
      border: $fur solid 20px;
      box-shadow: 8px 8px 0 $grey inset;
    }
    &__eye {
      width: 23.1%;
      height: 9.3%;
      left: 22.1%;
      top: 17.5%;
      z-index: 5;
      &-pupil {
        left: 2%;
        top: 0%;
        width: 97%;
        height: 100%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        background: $xxxxx-grey;
      }
      &:before {
        bottom: 0;
        height: 34%;
        width: 100%;
        background: lighten($fur, 5%);
        z-index: 1;
        border-top-left-radius: 5em;
      }
    }
    &__mouth {
      width: 33.3%;
      height: 31.2%;
      z-index: 4;
      top: 18.4%;
      &:before {
        background: $grey;
        width: 100%;
        height: 36%;
        bottom: 0;
        transform: skewX(-41deg);
        left: -28%;
      }
      &:after {
        background: white;
        width: 100%;
        height: 65%;
        top: 0;
        left: -31.5%;
        border-top-right-radius: 11%;
        transform: skewX(28deg);
      }
    }
    &__lip {
      width: 100%;
      height: 16%;
      top: 63%;
      &:before,
      &:after {
        background: white;
      }
      &:before {
        width: 58%;
        height: 100%;
        left: 40%;
        border-bottom-right-radius: 100%;
      }
      &:after {
        width: 50%;
        height: 100%;
        border-bottom-left-radius: 100%;
      }
    }
    &__nose,
    &__nose-shine {
      width: 68.3%;
      height: 35.2%;
      z-index: 4;
      top: 26.4%;
      &:before,
      &:after {
        background: $xxxxx-grey;
      }
      &:before {
        width: 100%;
        height: 93%;
        bottom: -14%;
        transform: skewX(-36deg);
        left: -33%;
        border-bottom-right-radius: 151%;
      }
      &:after {
        width: 120%;
        height: 21%;
        top: 0%;
        transform: skewX(-36deg);
        left: -13%;
        border-top-right-radius: 151%;
      }
    }
    &__nose-shine {
      width: 42%;
      z-index: 5;
      top: 29.4%;
      height: 21%;
      &:before,
      &:after {
        background: $xxxx-grey;
      }
    }
  }
  &-suit {
    left: 50%;
    width: 50%;
    height: 100%;
    &:before {
      width: 100%;
      height: 100%;
      bottom: -45%;
      left: 0%;
      background: $xxxx-grey;
      transform: skewY(34deg);
    }
    &__shirt {
      width: 45%;
      height: 90%;
      left: 0%;
      top: 44%;
      z-index: 3;
      &:before {
        width: 70%;
        height: 83%;
        transform: skewY(31deg) rotate(20deg);
        background: white;
        top: -22%;
        left: -18%;
      }
      &:after {
        background: $grey;
        top: 26%;
        width: 43%;
        height: 12%;
        transform: skewY(45deg);
      }
    }
    &__lapel {
      width: 39.5%;
      height: 54%;
      left: 11%;
      bottom: -0.5%;
      z-index: 7;
      transform: rotate(25deg) skewY(8deg);
      margin-left: 8.5%;
      &:before,
      &:after {
        background: $xxxxx-grey;
      }
      &:before {
        transform: rotate(-32deg) skewY(-20deg);
        top: -5%;
        left: -32.5%;
        width: 80%;
        height: 38%;
        }
      &:after {
        transform: rotate(-93deg) skewY(22deg);
        top: 18%;
        left: -193%;
        height: 100%;
        width: 184%;
      }
    }
    &__tie {
      width: 12%;
      height: 37.4%;
      left: 0%;
      bottom: 0;
      z-index: 6;
      &-clip {
        background: $tie-clip;
        top: 42%;
        left: -47%;
        width: 100%;
        height: 6.9%;
        z-index: 1;
      }
      &:before,
      &:after {
        background: darken($tie, 8%);
      }
      &:before {
        width: 100%;
        height: 50%;
        top: -22%;
        left: -106%;
        transform: rotate(-45deg);
      }
      &:after {
        width: 260%;
        height: 30%;
        top: 33%;
        left: -139%;
        transform: rotate(-65deg) skewX(-35deg);
      }
    }
    &__pocket {
      width: 33.5%;
      height: 9.3%;
      z-index: 6;
      left: 32%;
      bottom: 16%;
      border-bottom: 11px solid $xxxxx-grey;
      &:before,
      &:after {
        background: white;
        width: 60%;
        height: 140%;
        transform: rotate(45deg);
      }
      &:before {
        top: 33%;
        left: 12%;
      }
      &:after {
        top: 61%;
        left: 43%;
      }
    }
    &__button {
      width: 8%;
      height: 4%;
      border-radius: 100%;
      z-index: 10;
      bottom: 2%;
      left: -4%;
      background: $xx-grey;
    }
  }
}

