/*
  Custom
  $fur: teal;
  $tie: purple;
*/
$fur: #2e7091;
$tie: #cc3300;
$tie-clip: #ffcc00;
//  Definition
$grey: #cccccc;
$x-grey: #b3b3b3;
$xx-grey: #808080;
$xxx-grey: #4d4d4d;
$xxxx-grey: #333333;
$xxxxx-grey: #1a1a1a;