$light-blue: #3885b0;
$dark-blue: #2e7091;
$shawdow-grey: #cccccc;
$black: #1a1a1a;
$heavy-grey: #333333;
$medium-grey: #4d4d4d;
$primary-red: #cc3300;
$secondary-red: #a32900;
$gold: #ffcc00;
$button-primary-grey: #b3b3b3;
$button-secondary-grey: #808080;